<<<<<<<<< Temporary merge branch 1


img{
    height: 150px;
    width: 150px;
}

.products-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
    background-color: aquamarine;

}

// .cuadricula {
//     display: flex;
//     justify-content: space-between;
//     margin-left: 20px;
//     margin-top: 20px;
// }
=========
.titulo {
    margin-left: 50px;
    margin-top: 20px;
}

.container-products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.column{
    flex: 20%;
    padding-left: 2%;
    padding-right: 2%;

}

img{
    height: 200px;
    width: 200px;
}
>>>>>>> 1ecf95e7a9cb71ae22ce4a431090962b3bf0445f
