<main>
<h1>Bienvenido a Shópeame</h1>
<div>
    <h3>¿Qué es Shópeame?</h3>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veritatis
    aliquam molestias fugit eius rem soluta suscipit, voluptatibus numquam
    sapiente nemo distinctio laudantium incidunt corporis ad fuga repellat
    nesciunt excepturi?
    </p>
</div>
<div>
    <h3> ¿Para qué puedo usar Shópeame</h3>
    <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident neque
    assumenda deleniti inventore omnis vitae repellendus odit ducimus fugiat
    earum? Iusto, cum? Iste dignissimos natus dolor aperiam veritatis magni
    repudiandae?
    </p>
</div>
<div>
    <h3>¿Quienes hacemos Shópeame</h3>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquid
    praesentium unde nesciunt! Beatae tempora ratione et voluptas repudiandae,
    doloremque provident natus sapiente blanditiis explicabo itaque assumenda
    commodi quo inventore.
    </p>
</div>
<div>
    <h3>¿Es seguro usar Shópeame</h3>
    <p>
    ¡¡NO!!
    </p>
</div>
</main>