footer{
    background-color: black;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 5%;
   
}
h4 {
    color: white;
    display:flex;
    justify-content: center;
    
    
}

.apps {
    display: flex;
    justify-content: center;
    margin-right: 70px;
}


.T{
    color: white;
    text-decoration: none;
    
   
}

.F {
    color: white;
    margin-left: 30%;
   
}

.I {
    color: white;
    margin-left: 50%;
}

.Tk {
    color: white;
    margin-left: 90%;
}

p{
    color: white;
}