<h2>Gestión de Productos</h2>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="managementForm">
    
    <fieldset>
        <label >Nombre: </label>
        <input type="text" id="nameFormulario" formControlName="nameFormulario">

    </fieldset>
    <fieldset>
        <label >Precio: </label>
        <input type="text" id="priceFormulario" formControlName="priceFormulario">

    </fieldset>
    <fieldset>
        <label >Descripción: </label>
        <input type="text" id="descriptionFormulario" formControlName="descriptionFormulario">

    </fieldset>
    <fieldset>
        <label >Url: </label>
        <input type="text" id="imgRoutFormulario" formControlName="imgRoutFormulario">

    </fieldset>
    <fieldset>
        <label >Opiniones: </label>
        <input type="text" id="opinionFormulario" formControlName="opinionFormulario">

    </fieldset>
    <button type="submit" [disabled]="!managementForm.valid"> Agregar </button>

</form>
