<!-- <main> -->
<div>
<img src="../../../../assets/Shopeame.png" alt="">
</div>
<nav>
    <ul>
        <li a [routerLink]="['/home']"> 🏚Home> </li>
        <li><button a [routerLink]="['/products']"> 🎁Productos</button></li>
        <li><button a [routerLink]="['/management']"> ✍Gestion</button> </li>
    </ul>
<!-- <button a [routerLink]="['/home']"> 🏚Home</button>
<button a [routerLink]="['/products']"> 🎁Productos</button>
<button a [routerLink]="['/management']"> ✍Gestion</button> -->
</nav>
<!-- </main> -->
